*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: lightgrey;
}

#header-top{
    background-color: white;
}

h1{
    display:inline;
    margin-left: 10px;
    vertical-align:middle;
}

#logo{
    margin-left: 10px;    
    vertical-align:middle;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

.container{
    background-color: white;
    height: 550px;
    width: 600px;
    margin: 10px auto;
    border-radius: 15px;
}

.container header{
    height: 60px;
    width: 100%;
    padding-top: 15px;
    padding-left: 30px;
}

.selection{
    height: 30px;
    width: 80px;
    display: inline-block;
    border: solid 1px transparent;
    border-radius: 5px;
}

#blue{
    background-color: rgb(40, 95, 245);
    color: white;
    border-color:rgb(40, 95, 245);
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
}

#grey{
    background-color: white;
    color: grey;
    border-color: currentColor;
    vertical-align: middle;
}

main{
    padding-left: 30px;
    margin-top: 10px;
}


ul{
    list-style-type: none;
    margin-bottom: 15px;
}

li{
    margin-top: 2px;
}

.descrizione{
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 18px;
}

.main-button{
    border: none;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    vertical-align: middle;
}

.main-btn-blue{
    background-color: rgb(11, 156, 252);
}

.main-btn-purple{
    background-color:  rgb(128, 0, 128);
}

.main-btn-orange{
    background-color:rgb(255, 81, 0);
}

.main-btn-green{
    background-color:  rgb(0, 128, 90);
}

.main-btn-darkgreen{
    background-color:  rgb(83, 128, 0);
}

.check-before::before{
    display: inline-block;
    width:15px;
    height: 15px;
    border-radius: 50%;
    line-height: 100%;
    vertical-align: middle;
    padding-left: 2px;
    border: 1px solid;
}

 .green-check::before{
    content: '\2713';
    color:rgb(9, 214, 9);
    border-color:currentColor;    
}

.red-check::before{
    content:'\2717';
     color: red;
    border-color:currentColor;
} 

li h2{
    vertical-align: middle;
}
