*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: lightgrey;
}

#header-top{
    background-color: white;
}

h1, img{
    margin-left: 10px;
    display:inline-block;
    line-height: 100%;
    vertical-align:middle;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

.container{
    background-color: white;
    height: 540px;
    width: 600px;
    margin: 10px auto;
    border-radius: 15px;
}

#header-bottom{
    height: 60px;
    width: 100%;
    padding-top: 15px;
    padding-left: 30px;
}

.selection{
    height: 30px;
    width: 80px;
    display: inline-block;
    border: solid 1px grey;
    border-radius: 5px;
}

#blue{
    background-color: rgb(40, 95, 245);
    color: white;
    
}

#grey{
    background-color: white;
    color: grey;
    
}

main{
    padding-left: 30px;
    margin-top: 10px;
}

section{
    margin-top: 10px;
}

.descrizione{
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
}

.section-button{
    border: none;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#section-blue{
    background-color: rgb(11, 156, 252);
}

#section-purple{
    background-color:  rgb(128, 0, 128);
}

#section-orange{
    background-color:rgb(255, 81, 0);
}

#section-green{
    background-color:  rgb(0, 128, 90);
}

#section-green2{
    background-color:  rgb(83, 128, 0);
}

.green-check{
    display: inline-block;
    width:20px;
    height: 20px;
    color:rgb(9, 214, 9);
    border: 1px solid green;
    border-radius: 50%;
    line-height: 100%;
    vertical-align: middle;
    padding-left: 2px;
}

.red-check{
    color: red;
    display: inline-block;
    width:20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 50%;
    line-height: 100%;
    vertical-align: middle;
    padding-left: 2px;
}

