*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* img{
    vertical-align:middle;
} */

body{
    background-color: lightgrey;
}

header{
    background-color: white;
}

h1, img{
    margin-left: 10px;
    display:inline-block;
    line-height: 100%;
    vertical-align:middle;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

.container{
    background-color: white;
    height: 550px;
    width: 600px;
    margin: 10px auto;
    border-radius: 10px;

}

header{
    height: 80px;
    width: 100%;
    border: solid 1px grey;
    padding-top: 20px;
    padding-left: 30px;
}

#blue{
    background-color: rgb(40, 95, 245);
    color: white;
}

#grey{
    background-color: white;
    color: grey;
}

.selection{
    height: 30px;
    width: 80px;
    display: inline-block;
    border: solid 1px grey;
    border-radius: 5px;
}

main{
    padding-left: 30px;
}

.descrizione{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0px;
}

.section-button{
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: rgb(11, 156, 252);
}